.item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  select,
  label,
  input,
  .station-label {
    margin-right: 5px;
    font-size: 12px;
    word-break: keep-all;
  }
  .station-label {
    display: inline-block;
    width: 16px;
    height: 16px;
  }
  select,
  input[type="file"] {
    height: 24px;
  }
}
